In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
link_to_train = "https://raw.githubusercontent.com/thimmie52/data_org_financial_pred/refs/heads/main/data/Train.csv"
link_to_test = "https://raw.githubusercontent.com/thimmie52/data_org_financial_pred/refs/heads/main/data/Test.csv"

In [3]:
df_train = pd.read_csv(link_to_train)
df_test = pd.read_csv(link_to_test)

In [4]:
df_train['where'] = 'train'
df_test['where'] = 'test'

In [5]:
df = pd.concat([df_train, df_test], axis=0)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12023 entries, 0 to 2404
Data columns (total 40 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   ID                                                                12023 non-null  object
 1   country                                                           12023 non-null  object
 2   owner_age                                                         12022 non-null  float64
 3   attitude_stable_business_environment                              12021 non-null  object
 4   attitude_worried_shutdown                                         12021 non-null  object
 5   compliance_income_tax                                             12019 non-null  object
 6   perception_insurance_doesnt_cover_losses                          12016 non-null  object
 7   perception_cannot_afford_insurance                                12016 non-null  object
 8   personal_income                                                   11891 non-null  float64
 9   business_expenses                                                 11724 non-null  float64
 10  business_turnover                                                 11737 non-null  float64
 11  business_age_years                                                11712 non-null  float64
 12  motor_vehicle_insurance                                           9222 non-null   object
 13  has_mobile_money                                                  8562 non-null   object
 14  current_problem_cash_flow                                         7313 non-null   object
 15  has_cellphone                                                     9593 non-null   object
 16  owner_sex                                                         9593 non-null   object
 17  offers_credit_to_customers                                        9591 non-null   object
 18  attitude_satisfied_with_achievement                               9591 non-null   object
 19  has_credit_card                                                   9590 non-null   object
 20  keeps_financial_records                                           9588 non-null   object
 21  perception_insurance_companies_dont_insure_businesses_like_yours  9587 non-null   object
 22  perception_insurance_important                                    9580 non-null   object
 23  has_insurance                                                     9579 non-null   object
 24  covid_essential_service                                           9036 non-null   object
 25  attitude_more_successful_next_year                                8758 non-null   object
 26  problem_sourcing_money                                            7539 non-null   object
 27  marketing_word_of_mouth                                           7427 non-null   object
 28  has_loan_account                                                  7032 non-null   object
 29  has_internet_banking                                              7028 non-null   object
 30  has_debit_card                                                    7028 non-null   object
 31  future_risk_theft_stock                                           6906 non-null   object
 32  business_age_months                                               6879 non-null   float64
 33  medical_insurance                                                 6793 non-null   object
 34  funeral_insurance                                                 6793 non-null   object
 35  motivation_make_more_money                                        6648 non-null   object
 36  uses_friends_family_savings                                       6404 non-null   object
 37  uses_informal_lender                                              6403 non-null   object
 38  Target                                                            9618 non-null   object
 39  where                                                             12023 non-null  object
dtypes: float64(6), object(34)
memory usage: 3.8+ MB

In [7]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2405 entries, 0 to 2404
Data columns (total 39 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   ID                                                                2405 non-null   object
 1   country                                                           2405 non-null   object
 2   owner_age                                                         2404 non-null   float64
 3   attitude_stable_business_environment                              2405 non-null   object
 4   attitude_worried_shutdown                                         2405 non-null   object
 5   compliance_income_tax                                             2405 non-null   object
 6   perception_insurance_doesnt_cover_losses                          2403 non-null   object
 7   perception_cannot_afford_insurance                                2403 non-null   object
 8   personal_income                                                   2382 non-null   float64
 9   business_expenses                                                 2335 non-null   float64
 10  business_turnover                                                 2335 non-null   float64
 11  business_age_years                                                2346 non-null   float64
 12  motor_vehicle_insurance                                           1848 non-null   object
 13  has_mobile_money                                                  1695 non-null   object
 14  current_problem_cash_flow                                         1473 non-null   object
 15  has_cellphone                                                     1919 non-null   object
 16  owner_sex                                                         1919 non-null   object
 17  offers_credit_to_customers                                        1919 non-null   object
 18  attitude_satisfied_with_achievement                               1919 non-null   object
 19  has_credit_card                                                   1919 non-null   object
 20  keeps_financial_records                                           1919 non-null   object
 21  perception_insurance_companies_dont_insure_businesses_like_yours  1917 non-null   object
 22  perception_insurance_important                                    1917 non-null   object
 23  has_insurance                                                     1917 non-null   object
 24  covid_essential_service                                           1808 non-null   object
 25  attitude_more_successful_next_year                                1752 non-null   object
 26  problem_sourcing_money                                            1508 non-null   object
 27  marketing_word_of_mouth                                           1504 non-null   object
 28  has_loan_account                                                  1413 non-null   object
 29  has_internet_banking                                              1413 non-null   object
 30  has_debit_card                                                    1413 non-null   object
 31  future_risk_theft_stock                                           1388 non-null   object
 32  business_age_months                                               1372 non-null   float64
 33  medical_insurance                                                 1363 non-null   object
 34  funeral_insurance                                                 1363 non-null   object
 35  motivation_make_more_money                                        1321 non-null   object
 36  uses_friends_family_savings                                       1274 non-null   object
 37  uses_informal_lender                                              1274 non-null   object
 38  where                                                             2405 non-null   object
dtypes: float64(6), object(33)
memory usage: 732.9+ KB

In [8]:
def calculate_null_percentage(df):
  null_data = []
  for col in df.columns:
    null_count = df[col].isnull().sum()
    null_data.append({'column': col, 'null_count': null_count, 'length': df.shape[0], 'percentage_null': null_count/df.shape[0]*100})

  null_perception = pd.DataFrame(null_data)
  return null_perception.sort_values(by='percentage_null', ascending=False)

In [60]:
null_perception_df = calculate_null_percentage(df)
null_perception_train = calculate_null_percentage(df_train)
null_perception_test = calculate_null_percentage(df_test)

In [10]:
null_perception_df.head(10)

                         column  null_count  length  percentage_null
37         uses_informal_lender        5620   12023        46.743741
36  uses_friends_family_savings        5619   12023        46.735424
35   motivation_make_more_money        5375   12023        44.705980
33            medical_insurance        5230   12023        43.499958
34            funeral_insurance        5230   12023        43.499958
32          business_age_months        5144   12023        42.784663
31      future_risk_theft_stock        5117   12023        42.560093
29         has_internet_banking        4995   12023        41.545371
30               has_debit_card        4995   12023        41.545371
28             has_loan_account        4991   12023        41.512102

In [11]:
null_perception_train.head(10)

                         column  null_count  length  percentage_null
37         uses_informal_lender        4489    9618        46.672905
36  uses_friends_family_savings        4488    9618        46.662508
35   motivation_make_more_money        4291    9618        44.614265
33            medical_insurance        4188    9618        43.543356
34            funeral_insurance        4188    9618        43.543356
32          business_age_months        4111    9618        42.742774
31      future_risk_theft_stock        4100    9618        42.628405
29         has_internet_banking        4003    9618        41.619879
30               has_debit_card        4003    9618        41.619879
28             has_loan_account        3999    9618        41.578291

In [12]:
df['Target'].head()

0       Low
1    Medium
2       Low
3       Low
4       Low
Name: Target, dtype: object

In [13]:
null_columns = null_perception_df[null_perception_df['percentage_null'] > 30].column.to_list()

In [14]:
df_train['Target'].value_counts()

Target
Low       6280
Medium    2868
High       470
Name: count, dtype: int64

In [15]:
for i in null_columns:
  print(f"-----------{i}-----------------")
  print(pd.crosstab(df[i], df['Target'], normalize=False))
  print('\n')

-----------uses_informal_lender-----------------
Target                           High   Low  Medium
uses_informal_lender
Don't know                          1     1       0
Don’t know (Do not show)            0     2       2
Have now                           18    81     115
Never had                         256  1643     965
Used to have but don't have now     4  1087     647
Used to have but don’t have now    63   124     120


-----------uses_friends_family_savings-----------------
Target                           High   Low  Medium
uses_friends_family_savings
Don't know                          1     1       0
Don’t know (Do not show)            0     1       2
Have now                           41   147     341
Never had                         250  1669     976
Used to have but don't have now     1   974     421
Used to have but don’t have now    49   146     110


-----------motivation_make_more_money-----------------
Target                      High   Low  Medium
motivation_make_more_money
No                            62  1262     541
Yes                           57  2567     838


-----------medical_insurance-----------------
Target                           High   Low  Medium
medical_insurance
Don't know                          0    14       2
Don’t know (Do not show)            0     0       1
Have now                           95     0     309
Never had                         313  3080    1401
Used to have but don't have now    11    78     109
Used to have but don’t have now     3     4      10


-----------funeral_insurance-----------------
Target                           High   Low  Medium
funeral_insurance
Don't know                          2    23       1
Have now                          320     0    1288
Never had                          91  3014     510
Used to have but don't have now     9   119      20
Used to have but don’t have now     0    20      13


-----------business_age_months-----------------
Target               High  Low  Medium
business_age_months
0.0                    39  993     447
1.0                    22  204     106
2.0                    73  459     260
3.0                    29  354     159
4.0                    36  167     113
5.0                    40  329     149
6.0                    38  230     158
7.0                     7   77      51
8.0                    35  179     111
9.0                    12   95      72
10.0                   12   99      65
11.0                   27  168      92


-----------future_risk_theft_stock-----------------
Target                   High   Low  Medium
future_risk_theft_stock
No                         90  2458     643
Yes                        69  1586     672


-----------has_internet_banking-----------------
Target                           High   Low  Medium
has_internet_banking
Don't know                          0    17       3
Don’t know (Do not show)            0     1       0
Have now                          130   235     185
Never had                         267  3252    1194
Used to have but don't have now     0   246      59
Used to have but don’t have now     6     8      12


-----------has_debit_card-----------------
Target                           High   Low  Medium
has_debit_card
Don't know                          1     8       2
Have now                          236   770     432
Never had                         150  2789     925
Used to have but don't have now     2   137      50
Used to have but don’t have now    14    55      44


-----------has_loan_account-----------------
Target                           High   Low  Medium
has_loan_account
Don't know                          1    14       4
Don’t know (Do not show)            0     3       1
Have now                          181    96     159
Never had                         198  3190    1113
Used to have but don't have now     2   378      97
Used to have but don’t have now    21    80      81


-----------current_problem_cash_flow-----------------
Target                     High   Low  Medium
current_problem_cash_flow
0                           125   679     461
No                           83  1532     272
Yes                         203  1602     883


-----------marketing_word_of_mouth-----------------
Target                   High   Low  Medium
marketing_word_of_mouth
No                         65  1673     279
Yes                       278  2201    1427


-----------problem_sourcing_money-----------------
Target                  High   Low  Medium
problem_sourcing_money
No                        59  1765     689
Yes                      259  2193    1066

In [16]:
missing_ratio = df.isna().mean().sort_values(ascending=False)
missing_ratio

uses_informal_lender                                                0.467437
uses_friends_family_savings                                         0.467354
motivation_make_more_money                                          0.447060
medical_insurance                                                   0.435000
funeral_insurance                                                   0.435000
business_age_months                                                 0.427847
future_risk_theft_stock                                             0.425601
has_internet_banking                                                0.415454
has_debit_card                                                      0.415454
has_loan_account                                                    0.415121
current_problem_cash_flow                                           0.391749
marketing_word_of_mouth                                             0.382267
problem_sourcing_money                                              0.372952
has_mobile_money                                                    0.287865
attitude_more_successful_next_year                                  0.271563
covid_essential_service                                             0.248440
motor_vehicle_insurance                                             0.232970
has_insurance                                                       0.203277
perception_insurance_important                                      0.203194
perception_insurance_companies_dont_insure_businesses_like_yours    0.202612
keeps_financial_records                                             0.202528
has_credit_card                                                     0.202362
offers_credit_to_customers                                          0.202279
attitude_satisfied_with_achievement                                 0.202279
owner_sex                                                           0.202113
has_cellphone                                                       0.202113
Target                                                              0.200033
business_age_years                                                  0.025867
business_expenses                                                   0.024869
business_turnover                                                   0.023788
personal_income                                                     0.010979
perception_insurance_doesnt_cover_losses                            0.000582
perception_cannot_afford_insurance                                  0.000582
compliance_income_tax                                               0.000333
attitude_stable_business_environment                                0.000166
attitude_worried_shutdown                                           0.000166
owner_age                                                           0.000083
ID                                                                  0.000000
country                                                             0.000000
where                                                               0.000000
dtype: float64

In [17]:
df

,ID,country,owner_age,attitude_stable_business_environment,attitude_worried_shutdown,compliance_income_tax,perception_insurance_doesnt_cover_losses,perception_cannot_afford_insurance,personal_income,business_expenses,...,has_debit_card,future_risk_theft_stock,business_age_months,medical_insurance,funeral_insurance,motivation_make_more_money,uses_friends_family_savings,uses_informal_lender,Target,where
0,ID_3CFL0U,eswatini,63.0,Yes,No,No,No,Yes,3000.0,6000.0,...,Never had,NaN,6.0,Never had,Used to have but don’t have now,NaN,Never had,Never had,Low,train
1,ID_XWI7G3,zimbabwe,39.0,No,Yes,Yes,No,Yes,NaN,NaN,...,NaN,No,3.0,Never had,Never had,NaN,NaN,NaN,Medium,train
2,ID_TY93LV,malawi,34.0,Don’t know or N/A,No,No,Don't know,Yes,30000.0,6000.0,...,Never had,Yes,NaN,NaN,NaN,Yes,NaN,NaN,Low,train
3,ID_9OP2C8,malawi,28.0,Yes,No,No,No,No,180000.0,60000.0,...,Never had,No,NaN,NaN,NaN,Yes,Never had,Have now,Low,train
4,ID_13REYS,zimbabwe,43.0,Yes,No,No,Yes,Yes,50.0,2400.0,...,NaN,No,0.0,Never had,Never had,Yes,NaN,NaN,Low,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400,ID_FX7XJZ,eswatini,29.0,Yes,Yes,No,No,Yes,600.0,1700.0,...,Never had,NaN,11.0,Never had,Never had,NaN,Never had,Never had,NaN,test
2401,ID_XAL1LX,malawi,20.0,Don’t know or N/A,Don’t know or N/A,No,Don't know,Don't know,30000.0,20000.0,...,Never had,No,4.0,NaN,NaN,Yes,NaN,NaN,NaN,test
2402,ID_UHBP0F,zimbabwe,26.0,Yes,Yes,No,Yes,Yes,3888.0,NaN,...,NaN,No,0.0,Have now,Have now,NaN,NaN,NaN,NaN,test
2403,ID_GKIKR2,eswatini,63.0,No,No,Yes,Yes,Yes,3500.0,1700.0,...,Never had,NaN,4.0,Never had,Have now,NaN,Never had,Never had,NaN,test
2404,ID_O7P4HI,zimbabwe,25.0,Yes,No,No,No,Yes,150.0,1800.0,...,NaN,No,0.0,Never had,Never had,NaN,NaN,NaN,NaN,test

In [49]:
X = df_train.drop("Target", axis=1)
y = df_train["Target"]

num_cols = X.select_dtypes(include=["int64", "float64"]).columns
cat_cols = X.select_dtypes(include=["object", "category"]).columns

In [50]:
from sklearn.preprocessing import LabelEncoder

X_encoded = X.copy()
y_encoded = y.copy()

for col in cat_cols:
    le = LabelEncoder()
    X_encoded[col] = X_encoded[col].astype(str)
    X_encoded[col] = le.fit_transform(X_encoded[col])

le_y = LabelEncoder()
y_encoded = le_y.fit_transform(y_encoded)

In [51]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split



X_train, X_val, y_train, y_val = train_test_split(
    X_encoded, y_encoded, test_size=0.2, random_state=42
)

In [52]:
import lightgbm as lgb

X_lgb = X_encoded.copy()   # contains NaNs
y_lgb = y_encoded.copy()

In [53]:
train_data = lgb.Dataset(X_lgb, label=y_lgb)

In [54]:
num_classes = len(np.unique(y_encoded))

In [55]:
params = {
    "objective": "multiclass",
    "num_class": num_classes,# use "regression" if regression
    "metric": "multi_logloss",
    "learning_rate": 0.05,
    "num_leaves": 31,
    "verbosity": -1,
    "seed": 42
}

model = lgb.train(
    params,
    train_data,
    num_boost_round=300
)

In [56]:
importance = pd.Series(
    model.feature_importance(importance_type="gain"),
    index=X_lgb.columns
).sort_values(ascending=False)

importance.head(20)

funeral_insurance                 41643.653568
has_credit_card                   11486.113070
has_loan_account                  11236.450628
has_insurance                      9534.031054
uses_friends_family_savings        5353.747177
ID                                 5152.324158
business_expenses                  4922.716257
business_turnover                  4814.581132
has_debit_card                     4270.444323
personal_income                    4230.318759
motor_vehicle_insurance            3723.981843
owner_age                          3653.965471
medical_insurance                  3045.012116
perception_insurance_important     2928.201618
business_age_years                 2528.541435
has_mobile_money                   1696.486166
business_age_months                1554.239532
compliance_income_tax              1226.339320
has_internet_banking               1088.302685
keeps_financial_records             994.090167
dtype: float64

In [62]:
feature_importance = pd.DataFrame({ 'Column_name': importance.index, 'feature_importance': importance.values})

In [63]:
feature_importance["null_percentage"] = feature_importance["Column_name"].apply(lambda x: df_train[x].isnull().sum()/df_train.shape[0]*100)

In [65]:
feature_importance

,Column_name,feature_importance,null_percentage
0,funeral_insurance,41643.653568,43.543356
1,has_credit_card,11486.113070,20.243294
2,has_loan_account,11236.450628,41.578291
3,has_insurance,9534.031054,20.336868
4,uses_friends_family_savings,5353.747177,46.662508
5,ID,5152.324158,0.000000
6,business_expenses,4922.716257,2.380952
7,business_turnover,4814.581132,2.245789
8,has_debit_card,4270.444323,41.619879
9,personal_income,4230.318759,1.133292
10,motor_vehicle_insurance,3723.981843,23.331254
11,owner_age,3653.965471,0.000000
12,medical_insurance,3045.012116,43.543356
13,perception_insurance_important,2928.201618,20.326471
14,business_age_years,2528.541435,2.620087
15,has_mobile_money,1696.486166,28.602620
16,business_age_months,1554.239532,42.742774
17,compliance_income_tax,1226.339320,0.041589
18,has_internet_banking,1088.302685,41.619879
19,keeps_financial_records,994.090167,20.264088
20,offers_credit_to_customers,868.957016,20.232897
21,perception_insurance_doesnt_cover_losses,684.289241,0.051986
22,motivation_make_more_money,629.093030,44.614265
23,problem_sourcing_money,628.882930,37.294656
24,attitude_stable_business_environment,599.050873,0.020794
25,covid_essential_service,597.897403,24.849241
26,attitude_worried_shutdown,571.079864,0.020794
27,current_problem_cash_flow,558.737515,39.280516
28,owner_sex,501.784080,20.212102
29,attitude_satisfied_with_achievement,499.261600,20.232897
30,future_risk_theft_stock,489.419152,42.628405
31,uses_informal_lender,483.579264,46.672905
32,marketing_word_of_mouth,463.303540,38.417550
33,perception_insurance_companies_dont_insure_bus...,397.623107,20.253691
34,perception_cannot_afford_insurance,395.660909,0.051986
35,has_cellphone,390.811611,20.212102
36,attitude_more_successful_next_year,340.235088,27.157413
37,country,172.416673,0.000000
38,where,0.000000,0.000000

Important nuance:

High null + LOW importance → drop

High null + VERY HIGH importance → keep

So:

❌ `uses_informal_lender`

❌ `motivation_make_more_money`

❌ `future_risk_theft_stock`

❌ `has_internet_banking`

❌ `business_age_months` (redundant)